.center{
    width: 290px;
    padding: 1px;
}


.MainPage{
    width: 100%;
    height: 1020px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.recommend{
    width: 300px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    margin-left: 4px;
    margin-top: 4px;
    border: 2px solid;
    
}

.cartBox{
    width: 900px;
    height: 1000px;
    background-color: rgb(156, 215, 233);
    margin-left: -250px;
    margin-top: 4px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap'); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* html{
   font-size: 62.5%; 
} */

table {
  margin: 5rem auto;
  border-radius: 2rem;
  border: 1rem hidden #443C68;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
  max-width: 80rem;
}

/* li, p, a, td{
  font-size: 10px;
  line-height: 0.8;
} */

thead {
  font-size: 20px;
  background-color: #443C68;
  color: #fff;
}

th,
td {
  border: 1px solid #443C68;
  min-width: 2rem;
  padding: 1rem;
  line-height: 1.7;
}

td {
  font-size: 1.4rem;
}

@media screen and (max-width:600px){
  
.center {
  width: 112px;
  padding: 5px;
  font-size: 0.6rem;
}

.MainPage {
  width: 100%;
  height: 593px;
  background-color: rgb(255, 255, 255);
  margin: 2px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 213px;
}

.recommend {
  width: 113px;
  min-height: 576px;
  background-color: rgb(255, 255, 255);
  margin-left: 4px;
  margin-top: 4px;
  border: 2px solid;
}

.cartBox {
  display: flex;
  justify-content: center;
  width: 230px;
  min-height: 576px;
  background-color: rgb(156, 215, 233);
  margin-left: -210px;
  margin-top: 4px;
}


table {
  display: flow;
  margin: 1rem auto;
  border-radius: 1rem;
  border: 1rem hidden #443C68;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
}


thead {
  font-size: 10px;
  background-color: #443C68;
  color: #fff;
}

th, td {
  border: 1px solid #443C68;
    min-width: 0.3rem;
    padding: 0.5rem;
    font-size: 0.5rem;
    line-height: 0.8;
}

}