

.modal-wrapper{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background-color: rgba(121, 118, 125, 0.7);
}

.closebutton{
    display: flex;
    justify-content: right;
    position: fixed;
    width: 84%;
    margin-top: -40px;
}

.rightTop{
    display: flex;
    align-self: flex-end;
    justify-content: left;
    width: 20px;
    height: 20px;
}

.centre{
    display: flex;
    justify-content: center;
}

.login{
    width: 275px;
    height: auto;
    margin: 10px;
}

.modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    max-height: 500px;
    padding: 48px 84px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.input{
    margin: 10px;
    width: 275px;
}

.input2{
    margin: 10px;
    width: 171px;
}

.unit{
    margin: 5px;
    width: 60px;

}

/* span{
    margin-left: 10px;
} */

input{
    padding: 5px;
}

@media screen and (max-width:600px){

    .modal-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 333px;
        max-height: 430px;
        padding: 48px 84px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
    }

    .login {
        width: 275px;
        height: auto;
        margin: 10px;
        margin-left: -64px;
    }

    .closebutton {
        display: flex;
        justify-content: right;
        position: fixed;
        width: 73%;
        margin-top: -43px;
    }
    
}